<gramar>

	<id>org.gramar.kafka.gramar</id>
	<label>Complete Kafka multi-topic component</label>
	<provider>org.gramar</provider>
	<main>templates/main.prod</main>

	<taglibs>
	
		<taglib  prefix="c" extension="org.gramar.base" />
		
	</taglibs>

	<sampleModels>
	
		<sampleModel  name="sample"	path="models/sample.xml"  description="Sample model" />
	
	</sampleModels>

</gramar>