<gramar>

	<id>org.gramar.maven.gramar</id>
	<label>Basic JAR POM (gens Javadoc)</label>
	<provider>gramar.org</provider>
	<main>templates/main.prod</main>

	<taglibs>
	
		<taglib  prefix="c" extension="org.gramar.base" />
		
	</taglibs>
	
	<sampleModels>
	
		<sampleModel  name="empty"  path="models/empty.xml"  description="Empty model" />
	
	</sampleModels>

</gramar>