<gramar>

	<id>org.gramar.jetty.embedded.gramar</id>
	<label>Embedded jetty component</label>
	<provider>org.gramar</provider>
	<main>templates/main.prod</main>

	<taglibs>
	
		<taglib  prefix="c" extension="org.gramar.base" />
		
	</taglibs>
	
	<sampleModels>
	
		<sampleModel  name="empty"  path="models/empty.xml"  description="Empty model" />
	
	</sampleModels>

</gramar>